body {
    font-family: sans-serif;
}

#shoppingList {
    margin-top: 10px;
}

.shoppingItem {
    list-style: none;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid grey;
    width: 500px;
}

.shoppingItem div {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}

.shoppingItem button {
    border-radius: 20px;
    max-width: 100px;
}

.shoppingItem p {
    margin: none;
}

.lineThrough {
    text-decoration: line-through;
}